# Data Science Tools and Ecosystem

The purpose of this notebook, is to summarize Data Science Tools and Ecosystem

**Objectives:**
- List examples of tools use in Data Science
- Give an introduction in the use of Markdown and code cells
- Get familiarized with the use of Jupyter Notebook

In the world of Data Science, some of the most popular programming languages are:
1. Python
2. R
3. Julia
4. Scala

Among others

With in this languages some of the most used libraries by Data Scientist include:
1. Pandas
2. Numpy
3. Seaborn
4. GGplot
5. dplyr

| Data Science Tools |
| --- |
| JupyterLab |
| RStudio |
| VS Code |

### Below there will be examples of arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to multiply then add intergers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Axayacatl Porras DÃ­az

[GitHub repo link](https://github.com/axayacatl1010-del/Data-Science-Ecosystem)